{
  "extends": ["airbnb", "prettier"],
  "parser": "babel-eslint",
  "globals": {
    "jest": true,
    "describe": true,
    "it": true,
    "expect": true,
    "beforeEach": true,
    "afterEach": true,
    "beforeAll": true,
    "afterAll": true
  },
  "rules": {
    "no-console": [0],
    "function-paren-newline": ["error", "consistent"],
    "import/no-extraneous-dependencies": [0]
  }
}
